<div class="row" id="header">
    <div class="col-md-3 offset-md-9">
        <form id="basicSearch" class="form" method="get" action="/basicFind" onSubmit="return formular(this);">
            <div class="form-group">
                <input class="form-control" type="text" name="fritekst" required>
            </div>
            <div class="form-group">
                <button class="btn btn-default" id="btnBasicSearch" type="submit">Søg</button>
                <a href="/basicFind">Avanceret søg</a>
            </div>
        </form>
    </div>
</div>